@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    word-spacing: 3px;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
}
#nav-bar{
    min-width: 290px;
    width: 374px;
    border: 2px solid #444;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightblue;
}
#nav-bar>header{
    font-size: 2rem;
    text-align: center;
    margin: 15px;
}
#nav-bar>#nav-ul{
    padding-left: 0;
    height: 88vh;
    overflow-y: auto;
}
#nav-bar>#nav-ul>li{
    list-style-type: none;
    border-top: 1px solid #444;
    font-size: 1.2rem;
    padding: 15px 30px;
}
#main{
    margin-left: 400px;
    padding: 20px;
}
#main>.section>header{
    font-size: 2rem;

}
#main>.section>article{
    margin: 17px;
}
#main>.section>article>ul{
    padding-left: 80px;
}
code{
    display: block;
    margin: 10px;
    padding: 15px;
    white-space: pre-line;
    background-color: hsl(0, 0%, 94%);
}
@media(max-width: 1050px){
    #nav-bar{
        position: static;
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    #main{
        margin-left: 10px;
    }
    #nav-bar>#nav-ul{
        height: 200px;
    }
}
